.footer {
    background-color: #33387e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24x;
    color: white;
}

.footer-icons{
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: white;
}

.footer-icons a i{
    color: white
}

.footer img {
    width: 100%;
    max-width: 200px;
}

.footer-desenvolvedor {
    font-size: 15px;
}

.desenvolvedor {
    color: white;
    cursor: pointer;
}