.fist-section {
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(/src/img/caminhaoPrincipal.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fist-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fist-section h1 {
    color: white;
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    width: 80%;
}

.fist-section span {
    color: rgb(94, 207, 94);
}

.fist-section h2 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}