.services {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 12px 0px;
}

.service-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1.4rem;
}

.service-content p {
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
    max-width: 780px;
    font-size: 18px;
}

.tipos-de-caminhoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0px 44px 34px 44px;
}

.caminhao1,
.caminhao2,
.caminhao3 {  
    text-align: center;
}

.caminhao1 img,
.caminhao2 img,
.caminhao3 img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.6);
    transition: transform 0.6s;
    overflow: hidden;
}

.caminhao1 img:hover,
.caminhao2 img:hover,
.caminhao3 img:hover {
    transform: scale(1.2);
    z-index: 1;
} 

.caminhao-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-top: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.caminhao-info strong {
    font-size: 15px;
    padding: 4px 8px;
}

.caminhao-info button {
    color: white;
    background-color: rgb(94, 207, 94);
    padding: 4px 8px;
    border-radius: 10px;
    border: 0;
    cursor: default;
}