@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;       /* Deixar o font size assim é uma prática responsiva */
    overflow-x: hidden;     /* Isso faz com que o site não tenha a barra de rolagem horizontal*/
    scroll-behavior: smooth;
}

html body {
    overflow: hidden;   /*PARA CORRIGIR ERRO BARRA LATERAL BRANCA*/
}


@media (max-width: 1314px) {
    .conteudo-principal h1 {
        width: 850px;
        font-size: 3rem;
        text-align: center;
    }

    .conteudo-principal h2 {
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }
    
}

@media (max-width: 1200px) {    

    .fist-section h1 {
        width: auto;
        margin: 0 auto;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .content.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo{
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu{
        display: block;
    }

    .content.on .list-menu li {
        display: flex;
        justify-content: center;
    }

    .content.on .list-menu li a {
        font-size: 2rem;
    }

    .content.on .menu-toggle .two {
        opacity: 0;
    }  

    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px, -8px);
    } 

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    } 

    .tipos-de-caminhao {
        grid-template-columns: repeat(1, minmax(50px, 350px));
    }
    

    .content .list-menu a {
        display: none;
    }

    .main img {
        display: block;
        height: auto;
    }

    .sobre-nos img{
        display: none;
    }
}

@media (max-width: 992px) {
    
    html {
        font-size: 50%;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 840px) {
    .services .service-content p {
        font-size: 2rem;
        width: 80%;
        margin-left: 80px;
        text-align: center;
        justify-content: center;
        text-align: justify;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 690px) {
    .services .service-content p {
        font-size: 2rem;
        width: 80%;
        margin-left: 65px;
        text-align: center;
        justify-content: center;
        text-align: justify;
    }

    .sobre-nos .main p{
        width: 80%;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .content .list-menu a {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .content.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo{
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu{
        display: block;
    }

    .content.on .list-menu li {
        display: flex;
        justify-content: center;
    }

    .content.on .list-menu li a {
        font-size: 2rem;
    }

    .content.on .menu-toggle .two {
        opacity: 0;
    }  

    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px, -8px);
    } 

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    } 

    .tipos-de-caminhao {
        grid-template-columns: repeat(1, minmax(50px, 350px));
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 700px) {
    .conteudo-principal h1 {
        width: 500px;
        font-size: 3rem;
        text-align: center;
    }

    .conteudo-principal h2 {
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 600px) {
    .conteudo-principal {
        width: 500px;
        text-align: center;
        font: 1.4rem;
    }

    .conteudo-principal h2 {
        font-size: 2rem;
    }

    .tipos-de-caminhao {
        grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    }

    .sobre-nos img {
        width: 400px;
        height: 250px;
        margin-left: 10px;
    }

    .sobre-nos p {
        text-align: center;
        width: 400px;
    }

    .services .service-content p {
        font-size: 2rem;
        width: 80%;
        margin-left: 55px;
        text-align: center;
        justify-content: center;
        text-align: justify;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 590px) {
    .btn-whatsapp img{
        width: 50px;
        margin-bottom: 50px;
        margin-right: 2px;
    }
}

@media (max-width: 500px) {
    .btn button{
        font: 1.5rem;
    }

    .conteudo-principal h1 {
        width: 350px;
        font-size: 3rem;
        text-align: center;
    }

    .conteudo-principal h2 {
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }

    .services .service-content p {
        font-size: 2rem;
        width: 80%;
        margin-left: 45px;
        text-align: center;
        justify-content: center;
        text-align: justify;
    }

    .footer p {
        font-size: 1.5rem;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 395px) {

    .fist-section .conteudo-principal h1 {
        width: 70%;
        font-size: 3.5rem;
    }

    .sobre-nos .main p{
        width: 80%;
        font: 1.5rem;
    }

    .tipos-de-caminhao .caminhao-info {
        width: 80%;
        height: 10px;
    }

    .services .service-content p {
        font-size: 2rem;
    }

    .services .service-content p {
        font-size: 2rem;
        width: 80%;
        margin-left: 35px;
        text-align: center;
        justify-content: center;
        text-align: justify;
    }

    .btn-whatsapp img{
        width: 55px;
        margin-bottom: 50px;
    }

    html body {
        overflow: hidden;
    }
}