.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: #33387e;
}

.text {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.paragrafo {
    color: white;
    margin-bottom: 50px;
    font-size: 3rem;
}

span {
    color: rgb(94, 207, 94);
}

.btn {
    padding: 15px 55px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(94, 207, 94);
}

@media (max-width: 750px) {
    html {
        font-size: 45%;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 750px) {
    .main h1 {
        font-size: 5rem;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .main p {
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .main a {
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    html body {
        overflow: hidden;
    }
}

@media (max-width: 390px) {
    .main h1 {
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .main p {
        justify-content: center;
        text-align: center;
        flex-direction: row;
        max-width: 80%;
    }

    .btn {
        justify-content: center;
        text-align: center;
        flex-direction: row;
        max-width: 70%;
    }

    html body {
        overflow: hidden;
    }
}